.container{
    font-family: sans-serif;
    background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)),url(happy\ pple.jfif);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    }

.form{
    width: 90%;
    max-width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 50px 60px 70px;
    text-align: center;
    background: #fff;
}

.form label{
    font-size: 25px;
    font-weight: bold;
    color: rgb(70, 69, 69);
}

.form h4{
    font-size: 12px;
    color: rgb(70, 69, 69);
}

.butn{
    padding: 10px;
    border: none;
}

.btn{
    width: 300px;
    height: 30px;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    
}

.butnn{
    width: 300px;
    height: 30px;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: rgb(11, 11, 59);
}

.form span{
    color: blue;
}

.form h5{
    font-size: 13px;
    margin-top: 10px;
    color: rgb(158, 158, 158);
}

.form h6{
    font-size: 13px;
    margin-top: 10px;
    color: rgb(134, 134, 134);
}